# Ignorar dependências
node_modules/

# Arquivos de configuração e credenciais sensíveis
.env
credentials.json
ngrok
ngrok.yml
googlesheets

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Diretórios temporários
.tmp/
.temp/
dist/
build/
